<section class="windfury">

	<section class="section-main">
		<hr></hr>
    <div class="investiment-position">
      <div class="header">
				<span class="group">
          <label>Investimentos </label>
        </span>
        <span class="group pull-right">
          <span class="date">{{!it.month}}<span> - </span>{{!it.year}}
          </span>
        </span>
      </div>

      <div class="content-investiments">
				<table class="investiments-items">
					{{~it.investiments:item}}
					<tr>
						<td class="group">{{!item.target}}</td>
						<td class="value"><span class="money text">{{!item.value}}</span></td>
					</tr>
					{{~}}
				</table>

      </div>
    </div>
  </section>

	<script type="text/javascript">
		windfury.req([], function($, wf) {
			var tMain = wf.doT('.section-main');

			var groupInvestiments = function(investiments) {
				var result = [];
				var investimentsMap = {};
				investiments.forEach(function(element, index, array) {
					if (!investimentsMap[element.target]) {
						investimentsMap[element.target] = {
							'target':element.target,
							'value':0.0
						};
						result.push(investimentsMap[element.target]);
					}

					investimentsMap[element.target].value+=element.value;
				});
				return result;
			}

			var open = function(content, projection) {
				var investiments = groupInvestiments(projection.investiments);

        var main = tMain({
          'month' : projection.month,
          'year' : projection.year,
					'investiments':investiments
        });

        content.append(main);
			};

			wf.def({
				open : open
			})
		});
	</script>

</section>
