<section class="windfury">

	<section class="section-main">
    <div class="month-registers" style="display:none;">
      <div class="header">
        <span class="group">
          <label>Dinheiro disponivel: </label>
          <span class="money text">{{!it.totalValue}}</span>
        </span>
        <span class="group pull-right">
          <span class="date">{{!it.month}}<span> - </span>{{!it.year}}
          </span>
        </span>
      </div>

      <div class="registers">
        <table>
          <tbody class="registers-body">
          </tbody>
        </table>
      </div>

      <div class="footer">
        <span class="group">
          <label>Saldo Final: </label>
					<![CDATA[
					{{?it.finalAmount>0}}
          <span class="green money text">{{!it.finalAmount}}</span>
					{{??}}
					<span class="bad money text">{{!it.finalAmount}}</span>
					{{?}}
					]]>
        </span>
      </div>

			<div class="investiments">
			</div>
    </div>


  </section>

  <section class="section-day-registers">
    {{~it.revenues:item}}
      <tr class="revenue">
        <td class="day">{{!it.day}}</td>
        <td class="name">{{!item.name}}</td>
        <td class="value"><span class="money text">{{!item.value}}</span> +</td>
      </tr>
    {{~}}

    {{~it.spends:item}}
      <tr class="spend">
        <td class="day">{{!it.day}}</td>
        <td class="name">{{!item.name}}</td>
        <td class="value"><span class="money text">{{!item.value}}</span> -</td>
      </tr>
    {{~}}
		<![CDATA[
		<tr>
			<td/>
	    <td>Saldo ao final do dia</td>
	    <td class="value"><span class="money text">{{!it.amountEOD}}</span></td>
		</tr>
		]]>
  </section>

	<script type="text/javascript">
		windfury.req(["static/templates/investiments-position.html"], function($, wf, tInvestiments) {
			var tMain = wf.doT('.section-main');
      var tRegisters = wf.doT('.section-day-registers');

			var open = function(content, projection) {
        content.append(tMain({
          'totalValue' : projection.initialAmount,
          'month' : projection.month,
          'year' : projection.year,
          'finalAmount' : projection.finalAmount
        }));

				for (var key in projection.transactionsByDay) {
					var day = projection.transactionsByDay[key];

					content.find('.registers-body').append(tRegisters(day));
				}

				tInvestiments.open(content.find('.investiments'), projection);

		};

			wf.def({
				open : open
			})
		});
	</script>

</section>
